In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

# 데이터 불러오기 및 간단한 확인

### - train데이터 불러오기 (날짜, 날짜 블럭, 상점 아이디, 물품 아이디, 가격, 판매량)

In [81]:
train = pd.read_csv('~/aiffel_code_master/k/sales_train.csv')
y = train['item_cnt_day']

train = train[train.item_price<100000]
train = train[train.item_cnt_day<1001]
del train['date']
del train['item_price']

train.head()

   date_block_num  shop_id  item_id  item_cnt_day
0               0       59    22154           1.0
1               0       25     2552           1.0
2               0       25     2552          -1.0
3               0       25     2554           1.0
4               0       25     2555           1.0

### - 월 별로 cnt하기!

In [82]:
temp = train.groupby(["item_id","shop_id","date_block_num"]).sum().reset_index()
temp = temp.rename(index=str, columns = {"item_cnt_day":"item_cnt_month"})
temp = temp[["item_id","shop_id","date_block_num","item_cnt_month"]]
y = temp['item_cnt_month']
#del temp['item_cnt_month']

train = temp
train.head()

   item_id  shop_id  date_block_num  item_cnt_month
0        0       54              20             1.0
1        1       55              15             2.0
2        1       55              18             1.0
3        1       55              19             1.0
4        1       55              20             1.0

### - 아이템 카테고리 불러오기 (물품 카테고리 이름, 카테고리 아이디)

In [83]:
item_categories = pd.read_csv('~/aiffel_code_master/k/item_categories.csv')
item_categories.head()


#PS나 XBOX는 콘솔게임으로 치환하기

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

### - 아이템 데이터 불러오기 (물품 이름, 물품 아이디, 물품 카테고리 아이디)

In [84]:
items = pd.read_csv('~/aiffel_code_master/k/items.csv')
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [85]:
temp = items.drop_duplicates(['item_category_id'])
temp.sort_values(by=['item_category_id'], axis=0).head()

,item_name,item_id,item_category_id
5441,PC: Гарнитура HyperX Cloud Core игровая стерео...,5441,0
5606,PS2: Карта памяти 8 Мб черная (Memory Card 8Mb...,5606,1
5570,PS Move Controller (Контроллер движений),5570,2
5652,PS4/PS3: Гарнитура Tritton Kunai стерео провод...,5652,3
1955,Black Horns PSP Slim Джинсовый чехол серый (BH...,1955,4

### - shops 데이터 불러오기 (상점 이름, 상점 아이디)

In [86]:
shops = pd.read_csv('~/aiffel_code_master/k/shops.csv')
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

### - 테스트 데이터 불러오기

In [87]:
test = pd.read_csv('~/aiffel_code_master/k/test.csv')
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

### 데이터 정보

ID - an Id that represents a (Shop, Item) tuple within the test set

shop_id - unique identifier of a shop

item_id - unique identifier of a product

item_category_id - unique identifier of item category

item_cnt_day - number of products sold. You are predicting a monthly amount of this measure

item_price - current price of an item

date - date in format dd/mm/yyyy

date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33

item_name - name of item

shop_name - name of shop

item_category_name - name of item category

In [88]:
train.describe()

            item_id       shop_id  date_block_num  item_cnt_month
count  1.609123e+06  1.609123e+06    1.609123e+06    1.609123e+06
mean   1.068099e+04  3.280586e+01    1.466480e+01    2.265853e+00
std    6.238884e+03  1.653701e+01    9.542325e+00    8.466196e+00
min    0.000000e+00  0.000000e+00    0.000000e+00   -2.200000e+01
25%    5.045000e+03  2.100000e+01    6.000000e+00    1.000000e+00
50%    1.049700e+04  3.100000e+01    1.400000e+01    1.000000e+00
75%    1.606000e+04  4.700000e+01    2.300000e+01    2.000000e+00
max    2.216900e+04  5.900000e+01    3.300000e+01    1.644000e+03

In [89]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1609123 entries, 0 to 1609122
Data columns (total 4 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   item_id         1609123 non-null  int64
 1   shop_id         1609123 non-null  int64
 2   date_block_num  1609123 non-null  int64
 3   item_cnt_month  1609123 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 61.4+ MB

# 데이터 시각화

# EDA 시작

### - 결측치 확인

In [91]:
train.isnull().sum()

item_id           0
shop_id           0
date_block_num    0
item_cnt_month    0
dtype: int64

In [92]:
item_categories.isnull().sum()

item_category_name    0
item_category_id      0
dtype: int64

In [93]:
items.isnull().sum()

item_name           0
item_id             0
item_category_id    0
dtype: int64

In [94]:
shops.isnull().sum()

shop_name    0
shop_id      0
dtype: int64

## 가격대 별로 그룹 나누기

In [ ]:
tmp =

### - item_categories에서 비슷한 그룹 합치기

In [95]:
item_categories = pd.read_csv('~/aiffel_code_master/k/item_categories.csv')

In [96]:
item_categories['split'] = item_categories['item_category_name'].str.split('-')
item_categories['type'] = item_categories['split'].map(lambda x: x[0].strip())
del item_categories['split']


item_categories['category_code'] = LabelEncoder().fit_transform(item_categories['type'])
del item_categories['type']
del item_categories['item_category_name']
# if subtype is nan then type
#item_categories['subtype'] = item_categories['split'].map(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())
#item_categories['subtype_code'] = LabelEncoder().fit_transform(item_categories['subtype'])
#item_categories = item_categories[['item_category_id','type_code', 'subtype_code']]
item_categories

    item_category_id  category_code
0                  0              0
1                  1              1
2                  2              1
3                  3              1
4                  4              1
..               ...            ...
79                79             16
80                80             16
81                81             17
82                82             18
83                83             19

[84 rows x 2 columns]

In [97]:
train = pd.merge(train, items, on='item_id')
del train['item_name']


train = pd.merge(train, item_categories, on='item_category_id')
train.head()

,item_id,shop_id,date_block_num,item_cnt_month,item_category_id,category_code
0,0,54,20,1.0,40,11
1,2,54,19,1.0,40,11
2,2,54,22,1.0,40,11
3,3,54,18,1.0,40,11
4,3,54,19,1.0,40,11

In [115]:
train_x = train[train['date_block_num'] <= 33]
val_x = train[train['date_block_num'] > 32]

train_y = train_x['item_cnt_month']
val_y = val_x['item_cnt_month']

del train_x['item_cnt_month']
del val_x['item_cnt_month']

### test data process

In [99]:
temp_test = test
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [100]:

temp_test['date_block_num'] = 34
temp_test = pd.merge(temp_test, items, on='item_id')
del temp_test['item_name']
temp_test = pd.merge(temp_test, item_categories, on='item_category_id')

test_data = temp_test[['item_id', 'shop_id', 'date_block_num', 'item_category_id','category_code']]
test_data.head()

   item_id  shop_id  date_block_num  item_category_id  category_code
0     5037        5              34                19              5
1     5037        4              34                19              5
2     5037        6              34                19              5
3     5037        3              34                19              5
4     5037        2              34                19              5

In [101]:
sub_sample = pd.read_csv('~/aiffel_code_master/k/sample_submission.csv')
sub_sample.head()

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5

# Training

In [123]:
import xgboost as xgb
import lightgbm as lgb
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.model_selection import KFold, cross_val_score

In [125]:
model2 = LGBMRegressor(
    n_estimators=1000,
    min_child_weight=300, 
    colsample_bytree=0.8, 
    subsample=0.8, 
    eta=0.3,    
    seed=42)

model2.fit(
    train_x, 
    train_y, 
    eval_metric="rmse", 
    eval_set=[(train_x, train_y), (val_x, val_y)], 
    verbose=True, 
    early_stopping_rounds = 10)

[1]	training's rmse: 8.2292	training's l2: 67.7197	valid_1's rmse: 6.85739	valid_1's l2: 47.0237
Training until validation scores don't improve for 10 rounds
[2]	training's rmse: 8.03198	training's l2: 64.5128	valid_1's rmse: 6.62174	valid_1's l2: 43.8474
[3]	training's rmse: 7.95324	training's l2: 63.254	valid_1's rmse: 6.5926	valid_1's l2: 43.4624
[4]	training's rmse: 7.79811	training's l2: 60.8105	valid_1's rmse: 6.41	valid_1's l2: 41.088
[5]	training's rmse: 7.67339	training's l2: 58.8809	valid_1's rmse: 6.27469	valid_1's l2: 39.3718
[6]	training's rmse: 7.57816	training's l2: 57.4285	valid_1's rmse: 6.22915	valid_1's l2: 38.8023
[7]	training's rmse: 7.48633	training's l2: 56.0452	valid_1's rmse: 6.19091	valid_1's l2: 38.3274
[8]	training's rmse: 7.40816	training's l2: 54.8809	valid_1's rmse: 6.10854	valid_1's l2: 37.3143
[9]	training's rmse: 7.34358	training's l2: 53.9281	valid_1's rmse: 6.08985	valid_1's l2: 37.0862
[10]	training's rmse: 7.31715	training's l2: 53.5407	valid_1's rmse: 6.08194	valid_1's l2: 36.99
[11]	training's rmse: 7.2509	training's l2: 52.5755	valid_1's rmse: 6.00886	valid_1's l2: 36.1064
[12]	training's rmse: 7.19539	training's l2: 51.7736	valid_1's rmse: 5.9589	valid_1's l2: 35.5085
[13]	training's rmse: 7.15996	training's l2: 51.265	valid_1's rmse: 5.95082	valid_1's l2: 35.4123
[14]	training's rmse: 7.13206	training's l2: 50.8662	valid_1's rmse: 5.94442	valid_1's l2: 35.3361
[15]	training's rmse: 7.11738	training's l2: 50.6571	valid_1's rmse: 5.94079	valid_1's l2: 35.293
[16]	training's rmse: 7.1054	training's l2: 50.4866	valid_1's rmse: 5.92922	valid_1's l2: 35.1557
[17]	training's rmse: 7.08038	training's l2: 50.1317	valid_1's rmse: 5.9006	valid_1's l2: 34.8171
[18]	training's rmse: 7.07134	training's l2: 50.0039	valid_1's rmse: 5.89648	valid_1's l2: 34.7685
[19]	training's rmse: 7.05876	training's l2: 49.826	valid_1's rmse: 5.89455	valid_1's l2: 34.7457
[20]	training's rmse: 7.03757	training's l2: 49.5274	valid_1's rmse: 5.88958	valid_1's l2: 34.6872
[21]	training's rmse: 7.0164	training's l2: 49.2299	valid_1's rmse: 5.88589	valid_1's l2: 34.6437
[22]	training's rmse: 6.98957	training's l2: 48.8541	valid_1's rmse: 5.8607	valid_1's l2: 34.3478
[23]	training's rmse: 6.96529	training's l2: 48.5153	valid_1's rmse: 5.8398	valid_1's l2: 34.1032
[24]	training's rmse: 6.95505	training's l2: 48.3727	valid_1's rmse: 5.8306	valid_1's l2: 33.9959
[25]	training's rmse: 6.93984	training's l2: 48.1613	valid_1's rmse: 5.81173	valid_1's l2: 33.7762
[26]	training's rmse: 6.92211	training's l2: 47.9156	valid_1's rmse: 5.7988	valid_1's l2: 33.6261
[27]	training's rmse: 6.91003	training's l2: 47.7486	valid_1's rmse: 5.78404	valid_1's l2: 33.4551
[28]	training's rmse: 6.90225	training's l2: 47.6411	valid_1's rmse: 5.77696	valid_1's l2: 33.3733
[29]	training's rmse: 6.89392	training's l2: 47.5261	valid_1's rmse: 5.7768	valid_1's l2: 33.3715
[30]	training's rmse: 6.88561	training's l2: 47.4116	valid_1's rmse: 5.77669	valid_1's l2: 33.3702
[31]	training's rmse: 6.87165	training's l2: 47.2196	valid_1's rmse: 5.75654	valid_1's l2: 33.1377
[32]	training's rmse: 6.86512	training's l2: 47.1299	valid_1's rmse: 5.75645	valid_1's l2: 33.1367
[33]	training's rmse: 6.85819	training's l2: 47.0347	valid_1's rmse: 5.74901	valid_1's l2: 33.0512
[34]	training's rmse: 6.85176	training's l2: 46.9466	valid_1's rmse: 5.74077	valid_1's l2: 32.9565
[35]	training's rmse: 6.84632	training's l2: 46.8721	valid_1's rmse: 5.74071	valid_1's l2: 32.9558
[36]	training's rmse: 6.83867	training's l2: 46.7674	valid_1's rmse: 5.74167	valid_1's l2: 32.9667
[37]	training's rmse: 6.83021	training's l2: 46.6518	valid_1's rmse: 5.73146	valid_1's l2: 32.8497
[38]	training's rmse: 6.82412	training's l2: 46.5686	valid_1's rmse: 5.72756	valid_1's l2: 32.805
[39]	training's rmse: 6.8156	training's l2: 46.4524	valid_1's rmse: 5.71867	valid_1's l2: 32.7032
[40]	training's rmse: 6.80836	training's l2: 46.3538	valid_1's rmse: 5.71008	valid_1's l2: 32.605
[41]	training's rmse: 6.80558	training's l2: 46.3159	valid_1's rmse: 5.71007	valid_1's l2: 32.6049
[42]	training's rmse: 6.7997	training's l2: 46.236	valid_1's rmse: 5.70744	valid_1's l2: 32.5749
[43]	training's rmse: 6.79282	training's l2: 46.1424	valid_1's rmse: 5.70742	valid_1's l2: 32.5747
[44]	training's rmse: 6.78902	training's l2: 46.0908	valid_1's rmse: 5.70742	valid_1's l2: 32.5746
[45]	training's rmse: 6.78606	training's l2: 46.0506	valid_1's rmse: 5.70602	valid_1's l2: 32.5587
[46]	training's rmse: 6.78362	training's l2: 46.0174	valid_1's rmse: 5.7059	valid_1's l2: 32.5573
[47]	training's rmse: 6.78062	training's l2: 45.9768	valid_1's rmse: 5.70604	valid_1's l2: 32.5588
[48]	training's rmse: 6.77833	training's l2: 45.9457	valid_1's rmse: 5.70483	valid_1's l2: 32.5451
[49]	training's rmse: 6.77456	training's l2: 45.8947	valid_1's rmse: 5.70668	valid_1's l2: 32.5662
[50]	training's rmse: 6.77209	training's l2: 45.8612	valid_1's rmse: 5.7077	valid_1's l2: 32.5778
[51]	training's rmse: 6.76826	training's l2: 45.8093	valid_1's rmse: 5.70687	valid_1's l2: 32.5684
[52]	training's rmse: 6.76331	training's l2: 45.7424	valid_1's rmse: 5.69936	valid_1's l2: 32.4828
[53]	training's rmse: 6.76091	training's l2: 45.7099	valid_1's rmse: 5.69744	valid_1's l2: 32.4608
[54]	training's rmse: 6.75847	training's l2: 45.6769	valid_1's rmse: 5.69741	valid_1's l2: 32.4605
[55]	training's rmse: 6.75605	training's l2: 45.6442	valid_1's rmse: 5.69645	valid_1's l2: 32.4495
[56]	training's rmse: 6.75303	training's l2: 45.6033	valid_1's rmse: 5.69685	valid_1's l2: 32.4541
[57]	training's rmse: 6.75016	training's l2: 45.5647	valid_1's rmse: 5.69489	valid_1's l2: 32.4318
[58]	training's rmse: 6.74392	training's l2: 45.4804	valid_1's rmse: 5.68713	valid_1's l2: 32.3435
[59]	training's rmse: 6.74153	training's l2: 45.4483	valid_1's rmse: 5.68854	valid_1's l2: 32.3595
[60]	training's rmse: 6.73917	training's l2: 45.4164	valid_1's rmse: 5.68999	valid_1's l2: 32.376
[61]	training's rmse: 6.73199	training's l2: 45.3197	valid_1's rmse: 5.68356	valid_1's l2: 32.3029
[62]	training's rmse: 6.73056	training's l2: 45.3005	valid_1's rmse: 5.68355	valid_1's l2: 32.3028
[63]	training's rmse: 6.72623	training's l2: 45.2422	valid_1's rmse: 5.67914	valid_1's l2: 32.2526
[64]	training's rmse: 6.72207	training's l2: 45.1862	valid_1's rmse: 5.67503	valid_1's l2: 32.2059
[65]	training's rmse: 6.71993	training's l2: 45.1575	valid_1's rmse: 5.67194	valid_1's l2: 32.1709
[66]	training's rmse: 6.71789	training's l2: 45.13	valid_1's rmse: 5.67266	valid_1's l2: 32.179
[67]	training's rmse: 6.71405	training's l2: 45.0784	valid_1's rmse: 5.66496	valid_1's l2: 32.0918
[68]	training's rmse: 6.71272	training's l2: 45.0607	valid_1's rmse: 5.6637	valid_1's l2: 32.0775
[69]	training's rmse: 6.7098	training's l2: 45.0214	valid_1's rmse: 5.65905	valid_1's l2: 32.0248
[70]	training's rmse: 6.70248	training's l2: 44.9232	valid_1's rmse: 5.65104	valid_1's l2: 31.9343
[71]	training's rmse: 6.70011	training's l2: 44.8914	valid_1's rmse: 5.64915	valid_1's l2: 31.9129
[72]	training's rmse: 6.69862	training's l2: 44.8716	valid_1's rmse: 5.65262	valid_1's l2: 31.9521
[73]	training's rmse: 6.69746	training's l2: 44.856	valid_1's rmse: 5.64933	valid_1's l2: 31.9149
[74]	training's rmse: 6.69616	training's l2: 44.8385	valid_1's rmse: 5.65301	valid_1's l2: 31.9565
[75]	training's rmse: 6.69393	training's l2: 44.8087	valid_1's rmse: 5.65412	valid_1's l2: 31.9691
[76]	training's rmse: 6.69237	training's l2: 44.7879	valid_1's rmse: 5.65412	valid_1's l2: 31.9691
[77]	training's rmse: 6.68814	training's l2: 44.7312	valid_1's rmse: 5.65162	valid_1's l2: 31.9408
[78]	training's rmse: 6.6875	training's l2: 44.7227	valid_1's rmse: 5.65337	valid_1's l2: 31.9606
[79]	training's rmse: 6.68488	training's l2: 44.6877	valid_1's rmse: 5.65117	valid_1's l2: 31.9357
[80]	training's rmse: 6.68328	training's l2: 44.6663	valid_1's rmse: 5.65096	valid_1's l2: 31.9334
[81]	training's rmse: 6.679	training's l2: 44.609	valid_1's rmse: 5.64555	valid_1's l2: 31.8723
[82]	training's rmse: 6.67681	training's l2: 44.5798	valid_1's rmse: 5.64554	valid_1's l2: 31.8722
[83]	training's rmse: 6.67312	training's l2: 44.5305	valid_1's rmse: 5.6432	valid_1's l2: 31.8457
[84]	training's rmse: 6.67202	training's l2: 44.5159	valid_1's rmse: 5.63961	valid_1's l2: 31.8052
[85]	training's rmse: 6.66958	training's l2: 44.4833	valid_1's rmse: 5.63747	valid_1's l2: 31.781
[86]	training's rmse: 6.66656	training's l2: 44.443	valid_1's rmse: 5.63588	valid_1's l2: 31.7631
[87]	training's rmse: 6.65942	training's l2: 44.3479	valid_1's rmse: 5.62829	valid_1's l2: 31.6776
[88]	training's rmse: 6.65549	training's l2: 44.2955	valid_1's rmse: 5.62296	valid_1's l2: 31.6176
[89]	training's rmse: 6.65307	training's l2: 44.2633	valid_1's rmse: 5.62475	valid_1's l2: 31.6378
[90]	training's rmse: 6.64983	training's l2: 44.2203	valid_1's rmse: 5.6227	valid_1's l2: 31.6147

[91]	training's rmse: 6.6462	training's l2: 44.1719	valid_1's rmse: 5.61742	valid_1's l2: 31.5554
[92]	training's rmse: 6.64496	training's l2: 44.1555	valid_1's rmse: 5.61622	valid_1's l2: 31.5419
[93]	training's rmse: 6.64302	training's l2: 44.1297	valid_1's rmse: 5.61805	valid_1's l2: 31.5625
[94]	training's rmse: 6.64191	training's l2: 44.1149	valid_1's rmse: 5.61805	valid_1's l2: 31.5624
[95]	training's rmse: 6.63675	training's l2: 44.0465	valid_1's rmse: 5.61241	valid_1's l2: 31.4991
[96]	training's rmse: 6.63454	training's l2: 44.0171	valid_1's rmse: 5.6124	valid_1's l2: 31.4991
[97]	training's rmse: 6.62979	training's l2: 43.9541	valid_1's rmse: 5.6104	valid_1's l2: 31.4766
[98]	training's rmse: 6.62716	training's l2: 43.9192	valid_1's rmse: 5.6105	valid_1's l2: 31.4777
[99]	training's rmse: 6.62143	training's l2: 43.8434	valid_1's rmse: 5.60593	valid_1's l2: 31.4265
[100]	training's rmse: 6.61799	training's l2: 43.7978	valid_1's rmse: 5.60237	valid_1's l2: 31.3866
[101]	training's rmse: 6.61616	training's l2: 43.7735	valid_1's rmse: 5.60051	valid_1's l2: 31.3658
[102]	training's rmse: 6.61486	training's l2: 43.7564	valid_1's rmse: 5.59975	valid_1's l2: 31.3572
[103]	training's rmse: 6.61368	training's l2: 43.7408	valid_1's rmse: 5.59799	valid_1's l2: 31.3375
[104]	training's rmse: 6.61214	training's l2: 43.7204	valid_1's rmse: 5.59874	valid_1's l2: 31.3459
[105]	training's rmse: 6.61069	training's l2: 43.7013	valid_1's rmse: 5.59945	valid_1's l2: 31.3538
[106]	training's rmse: 6.60908	training's l2: 43.68	valid_1's rmse: 5.59797	valid_1's l2: 31.3373
[107]	training's rmse: 6.60717	training's l2: 43.6548	valid_1's rmse: 5.59947	valid_1's l2: 31.3541
[108]	training's rmse: 6.60551	training's l2: 43.6328	valid_1's rmse: 5.6012	valid_1's l2: 31.3734
[109]	training's rmse: 6.60475	training's l2: 43.6228	valid_1's rmse: 5.59952	valid_1's l2: 31.3547
[110]	training's rmse: 6.6015	training's l2: 43.5797	valid_1's rmse: 5.59892	valid_1's l2: 31.3479
[111]	training's rmse: 6.60015	training's l2: 43.562	valid_1's rmse: 5.59956	valid_1's l2: 31.3551
[112]	training's rmse: 6.59918	training's l2: 43.5492	valid_1's rmse: 5.59918	valid_1's l2: 31.3508
[113]	training's rmse: 6.59791	training's l2: 43.5324	valid_1's rmse: 5.59734	valid_1's l2: 31.3302
[114]	training's rmse: 6.59646	training's l2: 43.5133	valid_1's rmse: 5.59697	valid_1's l2: 31.3261
[115]	training's rmse: 6.59603	training's l2: 43.5076	valid_1's rmse: 5.59663	valid_1's l2: 31.3223
[116]	training's rmse: 6.59336	training's l2: 43.4723	valid_1's rmse: 5.59608	valid_1's l2: 31.3161
[117]	training's rmse: 6.58967	training's l2: 43.4237	valid_1's rmse: 5.58716	valid_1's l2: 31.2164
[118]	training's rmse: 6.58563	training's l2: 43.3705	valid_1's rmse: 5.5824	valid_1's l2: 31.1631
[119]	training's rmse: 6.58369	training's l2: 43.345	valid_1's rmse: 5.57584	valid_1's l2: 31.09
[120]	training's rmse: 6.58302	training's l2: 43.3361	valid_1's rmse: 5.57584	valid_1's l2: 31.09
[121]	training's rmse: 6.58243	training's l2: 43.3284	valid_1's rmse: 5.57403	valid_1's l2: 31.0698
[122]	training's rmse: 6.58172	training's l2: 43.3191	valid_1's rmse: 5.57349	valid_1's l2: 31.0637
[123]	training's rmse: 6.57777	training's l2: 43.267	valid_1's rmse: 5.56877	valid_1's l2: 31.0112
[124]	training's rmse: 6.57723	training's l2: 43.26	valid_1's rmse: 5.56814	valid_1's l2: 31.0042
[125]	training's rmse: 6.57506	training's l2: 43.2314	valid_1's rmse: 5.56614	valid_1's l2: 30.9819
[126]	training's rmse: 6.57381	training's l2: 43.215	valid_1's rmse: 5.5674	valid_1's l2: 30.996
[127]	training's rmse: 6.56711	training's l2: 43.127	valid_1's rmse: 5.56195	valid_1's l2: 30.9353
[128]	training's rmse: 6.56606	training's l2: 43.1131	valid_1's rmse: 5.56302	valid_1's l2: 30.9472
[129]	training's rmse: 6.5635	training's l2: 43.0795	valid_1's rmse: 5.56392	valid_1's l2: 30.9572
[130]	training's rmse: 6.56191	training's l2: 43.0586	valid_1's rmse: 5.56281	valid_1's l2: 30.9449
[131]	training's rmse: 6.56105	training's l2: 43.0474	valid_1's rmse: 5.56281	valid_1's l2: 30.9448
[132]	training's rmse: 6.55676	training's l2: 42.9911	valid_1's rmse: 5.55809	valid_1's l2: 30.8923
[133]	training's rmse: 6.55601	training's l2: 42.9812	valid_1's rmse: 5.55731	valid_1's l2: 30.8837
[134]	training's rmse: 6.5552	training's l2: 42.9707	valid_1's rmse: 5.55234	valid_1's l2: 30.8285
[135]	training's rmse: 6.55437	training's l2: 42.9598	valid_1's rmse: 5.55212	valid_1's l2: 30.826
[136]	training's rmse: 6.553	training's l2: 42.9419	valid_1's rmse: 5.55193	valid_1's l2: 30.824
[137]	training's rmse: 6.55171	training's l2: 42.9249	valid_1's rmse: 5.55192	valid_1's l2: 30.8239
[138]	training's rmse: 6.55068	training's l2: 42.9114	valid_1's rmse: 5.55036	valid_1's l2: 30.8065
[139]	training's rmse: 6.55009	training's l2: 42.9037	valid_1's rmse: 5.55035	valid_1's l2: 30.8064
[140]	training's rmse: 6.54804	training's l2: 42.8768	valid_1's rmse: 5.54872	valid_1's l2: 30.7883
[141]	training's rmse: 6.54735	training's l2: 42.8678	valid_1's rmse: 5.54922	valid_1's l2: 30.7938
[142]	training's rmse: 6.54668	training's l2: 42.859	valid_1's rmse: 5.5413	valid_1's l2: 30.706
[143]	training's rmse: 6.54535	training's l2: 42.8416	valid_1's rmse: 5.54019	valid_1's l2: 30.6938
[144]	training's rmse: 6.54474	training's l2: 42.8336	valid_1's rmse: 5.53949	valid_1's l2: 30.686
[145]	training's rmse: 6.54345	training's l2: 42.8167	valid_1's rmse: 5.53926	valid_1's l2: 30.6834
[146]	training's rmse: 6.5411	training's l2: 42.786	valid_1's rmse: 5.53708	valid_1's l2: 30.6593
[147]	training's rmse: 6.54008	training's l2: 42.7726	valid_1's rmse: 5.53669	valid_1's l2: 30.655
[148]	training's rmse: 6.53913	training's l2: 42.7602	valid_1's rmse: 5.53555	valid_1's l2: 30.6423
[149]	training's rmse: 6.53809	training's l2: 42.7467	valid_1's rmse: 5.53523	valid_1's l2: 30.6388
[150]	training's rmse: 6.53737	training's l2: 42.7373	valid_1's rmse: 5.53574	valid_1's l2: 30.6444
[151]	training's rmse: 6.5369	training's l2: 42.7311	valid_1's rmse: 5.53597	valid_1's l2: 30.647
[152]	training's rmse: 6.53212	training's l2: 42.6686	valid_1's rmse: 5.53121	valid_1's l2: 30.5943
[153]	training's rmse: 6.53075	training's l2: 42.6508	valid_1's rmse: 5.52713	valid_1's l2: 30.5492
[154]	training's rmse: 6.53002	training's l2: 42.6411	valid_1's rmse: 5.52662	valid_1's l2: 30.5436
[155]	training's rmse: 6.52464	training's l2: 42.5709	valid_1's rmse: 5.5215	valid_1's l2: 30.4869
[156]	training's rmse: 6.52093	training's l2: 42.5225	valid_1's rmse: 5.51653	valid_1's l2: 30.4321
[157]	training's rmse: 6.51824	training's l2: 42.4874	valid_1's rmse: 5.51451	valid_1's l2: 30.4098
[158]	training's rmse: 6.51771	training's l2: 42.4806	valid_1's rmse: 5.51434	valid_1's l2: 30.4079
[159]	training's rmse: 6.51693	training's l2: 42.4704	valid_1's rmse: 5.51677	valid_1's l2: 30.4348
[160]	training's rmse: 6.51582	training's l2: 42.4559	valid_1's rmse: 5.51676	valid_1's l2: 30.4347
[161]	training's rmse: 6.51351	training's l2: 42.4259	valid_1's rmse: 5.51772	valid_1's l2: 30.4453
[162]	training's rmse: 6.51204	training's l2: 42.4067	valid_1's rmse: 5.52037	valid_1's l2: 30.4745
[163]	training's rmse: 6.51019	training's l2: 42.3826	valid_1's rmse: 5.51985	valid_1's l2: 30.4687
[164]	training's rmse: 6.50891	training's l2: 42.3659	valid_1's rmse: 5.5195	valid_1's l2: 30.4649
[165]	training's rmse: 6.50765	training's l2: 42.3495	valid_1's rmse: 5.51863	valid_1's l2: 30.4553
[166]	training's rmse: 6.50627	training's l2: 42.3316	valid_1's rmse: 5.5178	valid_1's l2: 30.4462
[167]	training's rmse: 6.50577	training's l2: 42.325	valid_1's rmse: 5.51111	valid_1's l2: 30.3724
[168]	training's rmse: 6.50542	training's l2: 42.3205	valid_1's rmse: 5.51111	valid_1's l2: 30.3723
[169]	training's rmse: 6.50439	training's l2: 42.3071	valid_1's rmse: 5.51105	valid_1's l2: 30.3717
[170]	training's rmse: 6.50338	training's l2: 42.294	valid_1's rmse: 5.51099	valid_1's l2: 30.3711
[171]	training's rmse: 6.49987	training's l2: 42.2483	valid_1's rmse: 5.50916	valid_1's l2: 30.3508
[172]	training's rmse: 6.4992	training's l2: 42.2396	valid_1's rmse: 5.50853	valid_1's l2: 30.3439
[173]	training's rmse: 6.49432	training's l2: 42.1762	valid_1's rmse: 5.5028	valid_1's l2: 30.2808
[174]	training's rmse: 6.49278	training's l2: 42.1561	valid_1's rmse: 5.50526	valid_1's l2: 30.3079
[175]	training's rmse: 6.49215	training's l2: 42.1481	valid_1's rmse: 5.50416	valid_1's l2: 30.2957
[176]	training's rmse: 6.49178	training's l2: 42.1432	valid_1's rmse: 5.50552	valid_1's l2: 30.3108
[177]	training's rmse: 6.48984	training's l2: 42.118	valid_1's rmse: 5.50583	valid_1's l2: 30.3142
[178]	training's rmse: 6.48934	training's l2: 42.1115	valid_1's rmse: 5.50586	valid_1's l2: 30.3145
[179]	training's rmse: 6.4891	training's l2: 42.1084	valid_1's rmse: 5.50586	valid_1's l2: 30.3145
[180]	training's rmse: 6.48785	training's l2: 42.0922	valid_1's rmse: 5.50562	valid_1's l2: 30.3119
[181]	training's rmse: 6.48562	training's l2: 42.0632	valid_1's rmse: 5.50343	valid_1's l2: 30.2878

[182]	training's rmse: 6.48469	training's l2: 42.0512	valid_1's rmse: 5.50342	valid_1's l2: 30.2877
[183]	training's rmse: 6.48355	training's l2: 42.0364	valid_1's rmse: 5.50369	valid_1's l2: 30.2906
Early stopping, best iteration is:
[173]	training's rmse: 6.49432	training's l2: 42.1762	valid_1's rmse: 5.5028	valid_1's l2: 30.2808

LGBMRegressor(colsample_bytree=0.8, eta=0.3, min_child_weight=300,
              n_estimators=1000, seed=42, subsample=0.8)

In [126]:
model = XGBRegressor(
    max_depth=8,
    n_estimators=1000,
    min_child_weight=300, 
    colsample_bytree=0.8, 
    subsample=0.8, 
    eta=0.3,    
    seed=42)

model.fit(
    train_x, 
    train_y, 
    eval_metric="rmse", 
    eval_set=[(train_x, train_y), (val_x, val_y)], 
    verbose=True, 
    early_stopping_rounds = 10)

[0]	validation_0-rmse:7.94563	validation_1-rmse:6.48401
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:7.53851	validation_1-rmse:6.06861
[2]	validation_0-rmse:7.34035	validation_1-rmse:5.88197
[3]	validation_0-rmse:7.20411	validation_1-rmse:5.86518
[4]	validation_0-rmse:7.11850	validation_1-rmse:5.78892
[5]	validation_0-rmse:7.06293	validation_1-rmse:5.78517
[6]	validation_0-rmse:7.02207	validation_1-rmse:5.74882
[7]	validation_0-rmse:6.98489	validation_1-rmse:5.74152
[8]	validation_0-rmse:6.93413	validation_1-rmse:5.68332
[9]	validation_0-rmse:6.89460	validation_1-rmse:5.67033
[10]	validation_0-rmse:6.86020	validation_1-rmse:5.67829
[11]	validation_0-rmse:6.83386	validation_1-rmse:5.67119
[12]	validation_0-rmse:6.81055	validation_1-rmse:5.68236
[13]	validation_0-rmse:6.75877	validation_1-rmse:5.61565
[14]	validation_0-rmse:6.72056	validation_1-rmse:5.57277
[15]	validation_0-rmse:6.69388	validation_1-rmse:5.54311
[16]	validation_0-rmse:6.68114	validation_1-rmse:5.52705
[17]	validation_0-rmse:6.67106	validation_1-rmse:5.53740
[18]	validation_0-rmse:6.66308	validation_1-rmse:5.53658
[19]	validation_0-rmse:6.64769	validation_1-rmse:5.53008
[20]	validation_0-rmse:6.64348	validation_1-rmse:5.53097
[21]	validation_0-rmse:6.63185	validation_1-rmse:5.53218
[22]	validation_0-rmse:6.60852	validation_1-rmse:5.52181
[23]	validation_0-rmse:6.59945	validation_1-rmse:5.51129
[24]	validation_0-rmse:6.59385	validation_1-rmse:5.50800
[25]	validation_0-rmse:6.58822	validation_1-rmse:5.50993
[26]	validation_0-rmse:6.58094	validation_1-rmse:5.50523
[27]	validation_0-rmse:6.57447	validation_1-rmse:5.49590
[28]	validation_0-rmse:6.56927	validation_1-rmse:5.49825
[29]	validation_0-rmse:6.55842	validation_1-rmse:5.49634
[30]	validation_0-rmse:6.55162	validation_1-rmse:5.49319
[31]	validation_0-rmse:6.54677	validation_1-rmse:5.49020
[32]	validation_0-rmse:6.52884	validation_1-rmse:5.48573
[33]	validation_0-rmse:6.51852	validation_1-rmse:5.48318
[34]	validation_0-rmse:6.50315	validation_1-rmse:5.47882
[35]	validation_0-rmse:6.48424	validation_1-rmse:5.43579
[36]	validation_0-rmse:6.47025	validation_1-rmse:5.42215
[37]	validation_0-rmse:6.46232	validation_1-rmse:5.42272
[38]	validation_0-rmse:6.45423	validation_1-rmse:5.41521
[39]	validation_0-rmse:6.44768	validation_1-rmse:5.41509
[40]	validation_0-rmse:6.43910	validation_1-rmse:5.41162
[41]	validation_0-rmse:6.43522	validation_1-rmse:5.40590
[42]	validation_0-rmse:6.43115	validation_1-rmse:5.39814
[43]	validation_0-rmse:6.42326	validation_1-rmse:5.38952
[44]	validation_0-rmse:6.41770	validation_1-rmse:5.39099
[45]	validation_0-rmse:6.41338	validation_1-rmse:5.39483
[46]	validation_0-rmse:6.40647	validation_1-rmse:5.39424
[47]	validation_0-rmse:6.40467	validation_1-rmse:5.38115
[48]	validation_0-rmse:6.39927	validation_1-rmse:5.39271
[49]	validation_0-rmse:6.39564	validation_1-rmse:5.39716
[50]	validation_0-rmse:6.38588	validation_1-rmse:5.40297
[51]	validation_0-rmse:6.38359	validation_1-rmse:5.40416
[52]	validation_0-rmse:6.37628	validation_1-rmse:5.40862
[53]	validation_0-rmse:6.36870	validation_1-rmse:5.40646
[54]	validation_0-rmse:6.35766	validation_1-rmse:5.38866
[55]	validation_0-rmse:6.35459	validation_1-rmse:5.39201
[56]	validation_0-rmse:6.35110	validation_1-rmse:5.39259
[57]	validation_0-rmse:6.34552	validation_1-rmse:5.38810
Stopping. Best iteration:
[47]	validation_0-rmse:6.40467	validation_1-rmse:5.38115

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.3, gamma=0,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=8,
             min_child_weight=300, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=0, num_parallel_tree=1, random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=42,
             subsample=0.8, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [55]:
test.head()

   ID  shop_id  item_id  data_block_num  date_block_num
0   0        5     5037              34              34
1   1        5     5320              34              34
2   2        5     5233              34              34
3   3        5     5232              34              34
4   4        5     5268              34              34

In [49]:
train_data.head()

   item_id  shop_id  date_block_num  item_category_id  category_code
0        0       54              20                40             11
1        2       54              19                40             11
2        2       54              22                40             11
3        3       54              18                40             11
4        3       54              19                40             11

In [128]:
test_y = model.predict(test_data).clip(0, 20)
test_y2 = model2.predict(test_data).clip(0, 20)

In [130]:
print(len(test_y), len(test_y2))
a = np.mean()

214200 214200

numpy.ndarray

In [ ]:
submission = pd.DataFrame({
    "ID": test.index, 
    "item_cnt_month": y_pred
})
submission.to_csv('xgb_submission.csv', index=False)